.section {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.section div h2 .image{
  min-width: 50px;
  display: inline;
}

.section div {
  position: relative;
  padding: 5rem;
  left: 0;
}

.section div .icon{
padding: auto 0;
left: 1rem;
}